:root {
    --white: #FFFFFF;
    --medium-grey: #757575;
    --light-grey: #BDBDBD;
    --black: #212121;
    --text-input-field: #dcdff0;
    --indigo-very-light-primary: #C5CAE9;
    --indigo-light-primary:#3F51B5;
    --indigo-dark-primary: #303F9F;
    --accent-amber: #FFC107;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }