@import 'vars';

.layout-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    place-items: center;
    background-color: var(--indigo-very-light-primary);
}
.container{
    width: 70%;
    height: 700px;
    border-radius: 20px;

    border: 3px solid var(--indigo-dark-primary);
    display: flex;
    overflow: hidden;
}
.left-panel{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-bar{
    width: 200px;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid var(--indigo-dark-primary);
    background-color: var(--accent-amber-light);
}
.button-b{
    width: 110px;
    height: 60px;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
    color:var(--indigo-dark-primary);
    border: 1px solid var(--indigo-dark-primary);
    border-radius: 8px;
}
.button-b :hover{
    color: var(--accent-amber);
}
.button-b a{
    text-decoration: none;
    color:var(--indigo-dark-primary);
}
.button-b a:hover{
    color: var(--accent-amber);
}
.panelRight{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scroll-behavior: smooth;
    align-content: center;
}