@import 'vars';

.container-consultas{
    width: 100%;


}

.button-bar{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid var(--indigo-dark-primary);
    background-color: var(--accent-amber-light);
}
.button-b{
    width: 110px;
    height: 60px;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    color:var(--indigo-dark-primary);
}
.button-b:hover{
    color: var(--accent-amber);
}
.request_list{
    width: 100%;
}